@charset "utf-8";

@import 'modular-scale';
@import "gumby";


// jquery ui
@import "../bower_components/jquery.ui/themes/base/jquery.ui.all.css";

html,body{
    height:100%;
}

#wrapper{
    width: 100%;
    position: relative;
    height:auto !important; /*IE6対策*/
    height: 100%; /*IE6対策*/
    min-height: 100%;
}

#contents{
    padding-bottom:140px; /*フッターの高さと同じ*/
}

#footer{
    height:140px;
    position:absolute;
    bottom:0;
    padding: 50px 0;
    width: 100%;
    min-width: 100%;
}

#top-logo {
    margin: 0;
}

.btn-group {
    margin: 10px 0;
}

.btn {

    &.disabled {
        padding: 0 18px !important;
    }

    & > span {
        padding: 0 18px;
    }

}

form {

    label{

        &.cast {
            padding-right: 36px;
        }

        &.tag {
            padding-right: 52px;
        }
    }

}

.error-message {
    padding: 0 10px;
    font-family: $font-family;
    font-weight: $font-weight-semibold;
    list-style-type: none;
    word-wrap: break-word;
    margin-bottom: $norm / 2;
    @include font-size(ms(0, 14px));
    @include border-radius($button-radius);
    background: lighten($danger-color, 20%);
    border: 1px solid $danger-color;
    color: darken($danger-color, 20%);
}

@media screen and (max-width: $min-device-width) {

    .td-btn {

        @include font-size(12px, true);

        a {
            padding: 0 5px !important;
        }
    }
}

#modal-success, #modal-confirm {
    .flash-success {
        min-height: 20%;
        width: 30%;
    }
}

//video {
//    width: 100%;
//}

#play-info {
    margin: 16px;
}